*{
	margin: 0;
	padding: 0;
}

section{
	background-color: black;
	display: flex;
	align-items: center;
	max-height: 100%;
	max-width: 100%;
}

header{
	padding-top: 10px;
	background-color: hsl(179, 100%, 13%);
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

header button{
	background-color:hsl(31, 77%, 52%);
	padding: 10px;
	border-radius: 10px; 	
}

header button a{
	text-decoration: none;
	font-weight: bold;
}

main{
	display: grid;
	grid-template-areas:
	'a a b' 
	'c d d'
	'c e e';
	padding: 2em;
	grid-gap: 10px;
	margin: auto;
	max-width: 100%;
	max-height: 100vh;

}

main div{
	text-align: center;
	padding: 3em;
}

.a{
    background-color: #ED0206;
    grid-area: a;
    height: 200px;
    width: 350px;

}

.b{
	background-color: orange;
	grid-area: b;
	height: 200px;
	width: 200px;
}

.c{
	background-color: #04B72E;
	grid-area: c;
	width: 250px;
	height: 250px;

}

.d{
	background-color: #08C2D7;
	grid-area: d;
	width: 300px;
}

.e{
	background-color: #08C2D7;
	grid-area: e;
	width: 300px;
}
	
