section{
	display: flex;
	background-color: hsl(0, 0%, 95%);
	font-size: 15px;
	font-weight: 400;
    align-items: center;
    height: 100vh;
}

header{
	padding-top: 10px;
	background-color: hsl(179, 100%, 13%);
    padding: 20px;
}

header button{
	background-color:hsl(31, 77%, 52%);
	padding: 10px;
	border-radius: 10px; 	
}

header button a{
	text-decoration: none;
	font-weight: bold;
}

body{
	max-width: 100%;

}

main{
    display: flex;
    border-radius: 10px;
    width: 50%;
	margin: auto;
	color: white;
	border-radius: 45px;
}

main div{
	height: 400px;
	
}

h1{
	color: hsl(0, 0%, 95%);
    padding-left: 20px;
	font-family: Lexend Deca;
}

p{
	color: hsla(0, 0%, 100%, 0.75);
	padding-left: 20px;
	line-height: 25px;
	font-family: Lexend Deca;
	font-style: bold;
	max-height: 35vh;

}

.sedans{
	background-color: hsl(31, 77%, 52%);
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.suvs{
	background-color:  hsl(184, 100%, 22%);
	padding: 10px;
}

.luxury{
	background-color: hsl(179, 100%, 13%);
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sedans button{
	border-radius: 45px;
	padding: 10px;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    margin-left: 15px;
    margin-top: 50px;
    width: 120px;
    border:none;
}

.suvs button{
	border-radius: 45px;
	padding: 10px;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    margin-left: 15px;
    margin-top: 50px;
    width: 120px;
    border:none;
}

.luxury button{
	border-radius: 45px;
	padding: 10px;
	color: hsl(179, 100%, 13%);
	background-color: hsl(0, 0%, 95%);
	margin-left: 15px;
    margin-top: 50px;
    width: 120px;
    border:none;
}
